.playArea {
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 90vh;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/background.png');
  box-shadow: inset 0 0 1000px black;
  opacity: 0.1;
  position: absolute;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: calc(100%/3);
} 